/target
.env
/.idea/.gitignore
/.idea/aws.xml
/Cargo.lock
/.idea/modules.xml
/.idea/saveactions_settings.xml
/.idea/shitty_lunch_picker.iml
/.idea/vcs.xml
/lunch.db-shm
/lunch.db-wal
/lunch.db

# sst
.sst
develop/*
names.txt
restaurants.txt
